vendor
node_modules
public/hot
public/storage
public/docs
storage/*.key
.git
.gitignore
README.md
docker-compose.yml
.dockerignore
.env
.env.example
.idea
.vscode
*.swp
*.swo
*.log
tests
phpunit.xml
.editorconfig
.kilo
.kilocode
.boosts
database/*.sqlite
storage/logs/*
docs
.github
