vendor
node_modules
public/hot
public/storage
storage/*.key
.git
.gitignore
README.md
docker-compose.yml
.dockerignore
.env
.idea
.vscode
*.swp
*.swo
*.log
tests
phpunit.xml
.editorconfig
.kilo
.kilocode
.boosts
